.tile{ /*esto es el cuadrado de tablero*/
    width: 100px; /*esto es el tamanio del cuadrado de tablero*/
    height: 100px; /*esto es el tamanio del cuadrado de tablero*/
    display: flex; /*esto hace que el cuadrado de tablero sea flexible*/
    align-items: center; /*esto hace que el cuadrado de tablero se centre verticalmente*/
    justify-content: center; /*esto hace que el cuadrado de tablero se centre horizontalmente*/
    /*===================*/
    cursor: pointer; /*esto hace que el cuadrado de tablero tenga un cursor de mouse*/
}
.black-tile{ /*esto es el color del cuadrado de tablero*/
    background-color: rgba(165, 160, 157, 0.571); /*esto es el color del cuadrado de tablero*/ 
}
.white-tile{ /*esto es el color del cuadrado de tablero*/
    background-color: white; /*esto es el color del cuadrado de tablero*/
}
.piece1 {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
   
}
.piece1:hover {
        cursor: grab;
}   
.piece1:active {
    cursor: grabbing;
} 