.tile{ /*esto es el cuadrado de tablero*/
    width: 100px; /*esto es el tamanio del cuadrado de tablero*/
    height: 100px; /*esto es el tamanio del cuadrado de tablero*/
    display: grid; /*esto hace que el cuadrado de tablero sea flexible*/
    place-content: center; /*esto hace que el cuadrado de tablero se centre verticalmente*/
    /* justify-content: center; esto hace que el cuadrado de tablero se centre horizontalmente */
    /*===================*/
    /* cursor: pointer; esto hace que el cuadrado de tablero tenga un cursor de mouse */
}
.tile-black-tile{ /*esto es el color del cuadrado de tablero*/
    background-color: rgba(165, 160, 157, 0.571); /*esto es el color del cuadrado de tablero*/ 
}
.tile-white-tile{ /*esto es el color del cuadrado de tablero*/
    background-color: white; /*esto es el color del cuadrado de tablero*/
}
.chess-piece1 {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
   
}
.chess-piece1:hover {
        cursor: grab;
}   
.piece1:active {
    cursor: grabbing;
} 