.Lobby{ /* Estilos generales */
    background-color: black; /* Color de fondo del contenedor */
    width: 100%; /* Ancho del contenedor */
    height: 100vh; /* Alto del contenedor */
    display: flex; /* Establece el contenedor como flexible */
    flex-direction: row; /* Establece la direccion de la flexbox en columnas */
    padding: 22px; /* Espacio interno del contenedor */
}
.section1{ /* Estilos para la sección 1 */
    background-color: red; /* Color de fondo de la sección 1 */
    background: url('../assets/fondotableromadera.jpg'); /* Imagen de fondo de la sección 1 */
    width: 60%; /* Ancho de la sección 1 */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    display: flex; /* Establece la sección 1 como flexible */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center;/* Centra verticalmente los elementos */
}
.section2{/* Estilos para la sección 2 */
    background: url(/src/pages/game/assets/chekcershome.png); /* Imagen de fondo de la sección 2 */
    width: 40%; /* Ancho de la sección 2 */
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    display: flex; /* Establece la sección 2 como flexible */
    flex-direction: column; /* Establece la direccion de la flexbox en columnas */
    z-index: 0; /* Establece la posición de la sección 2 sobre la sección 1 */
}

.section2::before { /* Pseudo-elemento */
    content: ""; /* Necesario para que el pseudo-elemento se muestre */
    position: absolute; /* Posicionamiento absoluto respecto al contenedor relativo */
    top: 0; /* Posicionamiento superior */
    right: 0; /* Posicionamiento derecha */
    width: 41%; /* Cubre toda el área del contenedor */
    height: 100%; /* Cubre toda el área del contenedor */
    background: rgba(0, 0, 0, 0.397); /* Color negro con opacidad 50% */
    pointer-events: none; /* Asegura que los clics se pasen al elemento subyacente */
    z-index: -1;/* Establece la profundidad de la sección 2 sobre la sección 1 */
}
.imgtablero{ /* Estilos para la imagen del tablero */
    width: 55%; /* Ancho de la imagen */
    height: 65%; /* Alto de la imagen */
}
.lobby-logo{ /* Estilos para el logo de la sección 2 */
    /* background-color: blue; */
    height: 20%; /* Alto del logo */
    display: flex; /* Establece el logo como flexible */
    justify-content: center; /* Centra horizontalmente los elementos */
}
.lobby-title{ /* Estilos para el título de la sección 2 */
    /* background-color: aqua; */
    justify-content: center; /* Centra horizontalmente los elementos */
    display: flex; /* Establece el titulo como flexible */
    text-align: center; /* Centra el texto */
    font-weight: bold; /* Establece la fuente en negrita */
}
.lobby-options{ /* Estilos para las opciones de la sección 2 */
    /* background-color: red; */
    height: 50%; /* Alto de las opciones */
    display: flex; /* Establece las opciones como flexible */
    flex-grow: 1; /* Ajusta el tamaño de las opciones al tamaño del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex-direction: column; /* Establece la direccion de la flexbox en columnas */
}
.lobby-cierresesion{ /* Estilos para el cierre de sesión de la sección 2 */
    /* background-color: yellowgreen; */
}
.lobby-line{ /* Estilos para la linea de la sección 2 */
    margin: 3px; /* Espacio entre las lineas */
    width: 40%; /* Ancho de la linea */
    display: flex; /* Establece la linea como flexible */ 
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}
.lobby-button1{ /* Estilos para el boton de la sección 2 */
    display: flex; /* Establece el boton como flexible */
    /* justify-content: center; */
    border: 3.5px solid white; /* Establece el borde del boton */
    /* font-size: x-large; */
    color: white; /* Establece el color del texto */
    border-radius: 14px; /* Establece el radio del borde */
    background-color: rgba(124, 137, 248, 0.925); /* Establece el color de fondo */
    transition: background-color 0.3s; /* Establece la transicion del color de fondo */
    height: 20%; /* Alto del boton */
    align-items: center; /* Centra verticalmente los elementos */
    width: 25vh; /* Ancho del boton */
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);     /* Establece la sombra del boton */
    cursor: pointer; /* Establece el cursor del mouse */

}
.lobby-button2{ /* Estilos para el boton de la sección 2 */
    display: flex; /* Establece el boton como flexible */
    /* justify-content: center; */  
    border: 3.5px solid white; /* Establece el borde del boton */
    /* font-size: x-large; */
    color: white; /* Establece el color del texto */
    border-radius: 14px; /* Establece el radio del borde */
    background-color: #fd57dfdd; /* Establece el color de fondo */
    transition: background-color 0.3s; /* Establece la transicion del color de fondo */
    height: 20%; /* Alto del boton */
    align-items: center; /* Centra verticalmente los elementos */
    width: 25vh; /* Ancho del boton */
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);     /* Establece la sombra del boton */
    cursor: pointer; /* Establece el cursor del mouse */

}
.icong{ /* Estilos para el icono de la sección 2 */
    width: 7vh; /* Ancho del icono */
    /* margin-right: 10px; */
}
.iconr{ /* Estilos para el icono de la sección 2 */
    width: 5vh; /* Ancho del icono */
  /* margin-right: 10px; */
}
.iconlin{ /* Estilos para el icono de la sección 2 */
    position: relative; /* Posicionamiento relativo */
    height: 10vh; /* Alto del icono */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}
.lobbytextboton{ /* Estilos para el texto del boton de la sección 2 */
    font-family: "Mountains of Christmas", serif; /* Fuente del texto */
    font-weight: bold; /* Grosor de la fuente */
    color: black; /* Color del texto */
}
.lobbytextb{ /* Estilos para el texto del boton de la sección 2 */
    display: flex; /* Establece el texto como flexible */
    justify-content: center; /* Centra horizontalmente los elementos */
    width: 60%; /* Ancho del texto */
}
.lobbycuadroicon { /* Estilos para el cuadro del icono de la sección 2 */
    width: 34%; /* Ancho del cuadro */
    display: flex; /* Establece el cuadro como flexible */
    align-content: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
}
.lobby-button{  /* Estilos para el boton de la sección 2 */
    display: flex; /* Establece el boton como flexible */
    flex-direction: row; /* Establece la direccion de la flexbox en columnas */
    justify-content: flex-start; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    background: none; /* Borra el fondo del boton */
    border: none; /* Borra el borde del boton */
    font-size: revert; /* Establece el tamaño del texto */
}
.iconlogout{ /* Estilos para el icono de la sección 2 */
    width: 4vh; /* Ancho del icono */
}