#board-checker{ /*estilo del tablero*/
    /* background-color: rgb(10, 15, 10); 
    height: 800px; 
    display: flex;
    flex-wrap: wrap; 
    grid-template-rows: (8,8);  
    color: black;  */
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    /* background-color: blue; */
   
}

